* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
    color: initial;
}

.list-today-habits button {
    background-color: rgb(203, 240, 203);
}

ion-icon {
    color: rgb(27, 29, 29);
}

.hidden {
    display: none;
}

.create-habit div , 
.list-app div {
    background-color: #FFFFFF;
    border-radius: 5px;

    width: 30px;
    height: 30px;
}

div.day-selected {
    background-color: #CFCFCF;
    border: 1px solid #CFCFCF;

    color: #FFFFFF;
    font-size: 19px;
}

