.list-today-habits button {
    height: 40px;
    width: 40px;
}

ion-icon {
    color: rgb(27, 29, 29);
}

.loading {
    opacity: 0.5;
}

.input-loading {
    background-color: #F2F2F2;
    opacity: 0.5;
}

.greenSelect {
    background-color: green;
}

.hidden {
    display: none;
}

.create-habit div , 
.list-app div {
    background-color: #FFFFFF;
    border-radius: 5px;

    width: 30px;
    height: 30px;
}

button.day-selected {
    background-color: #CFCFCF;
    border: 1px solid #CFCFCF;

    color: #FFFFFF;
    font-size: 19px;
}

